{% extends 'Base/Base.html' %}


{% block body %}
    <div class="d-flex gap-5 flex-wrap justify-content-center">
        {% for image in objects %}
            <div class="card" style="width: 18rem;">
                <img src="{{ image.image.image.url }}" class="card-img-top img-thumbnail" alt="...">
                <div class="card-body d-flex justify-content-center align-items-center flex-column">
                    <h6>Character: {{ image.classified_char.characters }}</h6>
                    <h6>Percentage: {{ image.percentage }}%</h6>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}