{% extends 'Base/Base.html' %}
{% load crispy_forms_tags %}


{% block body %}
    <div class="d-flex gap-5 flex-wrap justify-content-center">
        {% for image in objects %}
            <div class="card" style="width: 18rem;">
                <img src="{{ image.image.url }}" class="card-img-top img-thumbnail" alt="...">
                {% if request.user.is_authenticated %}
                    <div class="card-body d-flex justify-content-center">
                        {% if request.user in image.voted.all %}
                            <h6>Voted</h6>
                        {% else %}
                            <a href="{% url 'classify' image.id %}" class="btn btn-primary">Go for classified</a>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% endblock %}
